/* Meta */

*{
    margin:0;
    padding:0;
    font-family: 'Englebert';
}

html{
    scroll-behavior: smooth;
}

/*main page*/

.main{
    background-image: url(images/home-background.png);
    background-size:cover;
    background-position: center;
    height:900px;   
}

nav{
    display:flex;
    height: 100px;
    background-color: #dbcfc3;
    align-items: center;
    justify-content: space-between;
}

nav .fa{
    display:none;
    color:#fff;
}

nav img{
    height:200%;
    padding-left: 5%;
}
.nav-links{
    flex:1;
    text-align: right;
    margin-right: 30px;
}

.nav-links ul li{
   display: inline-block;
   padding: 8px 12px;
   font-size: 120%;
   font-weight: 600;
   color:#fff;
   transition:0.5s;
   cursor: pointer;
}

.nav-links ul li:hover{
    transform: scale(1.2);
}

.nail_tech_container_o{
    display:flex;
}

.nail_tech_container_i1{
    position:relative;
    width:40%;
    margin-left:30%;
    margin-top:5%;
    z-index: 1;
    transition: 0.5s;
}

.nail_tech_container_i2{
    position:relative;
    width:40%;
    margin-left:-37%;
    margin-top:8%;
    z-index: 0;
    transition:0.5s;
}

.nail_tech_container_i1 img{
    width:100%;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
}

.nail_tech_container_i2 img{
    width:100%;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
}

/*mobile*/
@media(max-width:900px){
    
    nav .fa{
        display: block;
        margin:20px;
        font-size:25px;
        cursor: pointer;
    }

    .nav-links{
        position:fixed;
        top:0;
        right:0;
        text-align: left;
        width:0px;
        background: #d5d5d5;
        box-shadow: 0 0 20px 0 rgba(0,0,0,0.4);
        height: 110vh;
        z-index: 3;
        transition: 1s;
        margin-right:0px;
    }

    .nav-links ul li{
        padding: 25px;
    }

    .nail_tech_container_i1{
        width:60%;
        margin-left:20%;
        margin-top:10%;
    }
    .nail_tech_container_i2{
        width:60%;
        margin-left:-55%;
        margin-top:15%;
    }

}
